<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- Include the above in your HEAD tag ----------> --}}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<style>
  .bttn {
    float: right;
  }
</style>
<div class="container">

  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    {{#each products}}
    <tbody>
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-2 hidden-xs"><img src="{{this.imgLink}}" alt="..." class="img-responsive" /></div>
            <div class="col-sm-10">
              <h4 class="nomargin">{{this.productName}}</h4>
              <p>{{this.productDescription}}</p>
            </div>
          </div>
        </td>
        <td data-th="Price">${{this.price}}</td>
        <td data-th="Quantity">
          <input id="quantity{{this.productId}}" type="number" class="form-control text-center" value="{{this.quantity}}">
        </td>
        <td data-th="Subtotal" class="text-center">${{this.subtotalValue}}</td>
        <td class="actions" data-th="">
          <button onclick="updateProduct({{this.ProductProductId}})" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
          <a onclick="removeProduct({{this.ProductProductId}});" data-productId="{{this.ProductProductId}}" class="btn btn-danger btn-sm"><i
              class="fa fa-trash-o"></i></a>
        </td>
      </tr>
    </tbody>
    {{/each}}
    <tfoot>
      <tr class="visible-xs">
        <td class="text-center"><strong>{{total}}</strong></td>
      </tr>
      <tr>
        <td><a onclick="history.back();" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
        </td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>${{total}}</strong></td>
        {{!-- <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td> --}}
      </tr>

    </tfoot>
  </table>

  <form class="bttn" action="/paysuccess" method="post">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_wUg2srzfzQ765a55uHxDuozS00je8H7WJi" data-amount="{{total2}}" data-name="Unload.com"
      data-description="Thank you for your order" data-locale="auto" data-currency="usd">
      </script>
    <input type="hidden" name="chargeAmount" value="{{total}}">
  </form>

</div>

{{!-- 




<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/shoppingcart.css" />
  <title>Basket</title>
</head>

<body>
    {{#each products}}
  <main>
    <div class="basket">
      <div class="basket-module">
        <label for="promo-code">Enter a promotional code</label>
        <input id="promoCode" type="text" name="promo-code" maxlength="5" class="promo-code-field">
        <button class="promo-code-cta">Apply</button>
      </div>
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="{{this.imgLink}}" alt="Placholder Image 2" class="product-frame" id="imgLink">
          </div>
          <div class="product-details">
            <h1><strong><span class="categoryName" id="categoryName"></span>Product Category: {{this.categoryName}}</strong></h1>
            <h1><strong><span class="productName" id="productName"></span>Product Name: {{this.productName}}</strong></h1>
            {{!-- <h1><strong><span class="initQuantity" id="initQuantity"></span>Product Quantity: {{this.quantity}}</strong></h1> 
            
          </div>
        </div>
        <div class="price" id="price">Unit Price: ${{price}}</div>
        <div class="initQuantity">
          <input type="number" value="{{this.quantity}}" min="1" class="quantity-field">
        </div>
        <div class="subtotal" id="subtotal"></div>
        <div class="remove">
          <button>Remove</button>
        </div>
      </div>      
    </div>
    <aside>
      <div class="summary">
        <div class="summary-subtotal">
          <div class="subtotal-title">Subtotal</div>
          <div class="subtotal-value final-value" id="basket-subtotal">${{this.subtotalValue}}</div>
        </div>
      </div>
    </aside>
  </main>
  {{/each}}
</body>

<script>
  /* Set values + misc */
  var promoCode;
  var promoPrice;
  var fadeTime = 300;

  /* Assign actions */
  $('.quantity input').change(function () {
    updateQuantity(this);
  });

  $('.remove button').click(function () {
    removeItem(this);
  });

  $(document).ready(function () {
    updateSumItems();
  });

  $('.promo-code-cta').click(function () {

    promoCode = $('#promo-code').val();

    if (promoCode == '10off' || promoCode == '10OFF') {
      //If promoPrice has no value, set it as 10 for the 10OFF promocode
      if (!promoPrice) {
        promoPrice = 10;
      } else if (promoCode) {
        promoPrice = promoPrice * 1;
      }
    } else if (promoCode != '') {
      alert("Invalid Promo Code");
      promoPrice = 0;
    }
    //If there is a promoPrice that has been set (it means there is a valid promoCode input) show promo
    if (promoPrice) {
      $('.summary-promo').removeClass('hide');
      $('.promo-value').text(promoPrice.toFixed(2));
      recalculateCart(true);
    }
  });

  /* Recalculate cart */
  function recalculateCart(onlyTotal) {
    var subtotal = 0;

    /* Sum up row totals */
    $('.basket-product').each(function () {
      subtotal += parseFloat($(this).children('.subtotal').text());
    });

    /* Calculate totals */
    var total = subtotal;

    //If there is a valid promoCode, and subtotal < 10 subtract from total
    var promoPrice = parseFloat($('.promo-value').text());
    if (promoPrice) {
      if (subtotal >= 10) {
        total -= promoPrice;
      } else {
        alert('Order must be more than $10 for Promo code to apply.');
        $('.summary-promo').addClass('hide');
      }
    }

    /*If switch for update only total, update only total display*/
    if (onlyTotal) {
      /* Update total display */
      $('.total-value').fadeOut(fadeTime, function () {
        $('#basket-total').html(total.toFixed(2));
        $('.total-value').fadeIn(fadeTime);
      });
    } else {
      /* Update summary display. */
      $('.final-value').fadeOut(fadeTime, function () {
        $('#basket-subtotal').html(subtotal.toFixed(2));
        $('#basket-total').html(total.toFixed(2));
        if (total == 0) {
          $('.checkout-cta').fadeOut(fadeTime);
        } else {
          $('.checkout-cta').fadeIn(fadeTime);
        }
        $('.final-value').fadeIn(fadeTime);
      });
    }
  }

  /* Update quantity */
  function updateQuantity(quantityInput) {
    /* Calculate line price */
    var productRow = $(quantityInput).parent().parent();
    var price = parseFloat(productRow.children('.price').text());
    var quantity = $(quantityInput).val();
    var linePrice = price * quantity;

    /* Update line price display and recalc cart totals */
    productRow.children('.subtotal').each(function () {
      $(this).fadeOut(fadeTime, function () {
        $(this).text(linePrice.toFixed(2));
        recalculateCart();
        $(this).fadeIn(fadeTime);
      });
    });

    productRow.find('.item-quantity').text(quantity);
    updateSumItems();
  }

  function updateSumItems() {
    var sumItems = 0;
    $('.quantity input').each(function () {
      sumItems += parseInt($(this).val());
    });
    $('.total-items').text(sumItems);
  }

  /* Remove item from cart */
  function removeItem(removeButton) {
    /* Remove row from DOM and recalc cart total */
    var productRow = $(removeButton).parent().parent();
    productRow.slideUp(fadeTime, function () {
      productRow.remove();
      recalculateCart();
      updateSumItems();
    });
  }
</script>
</html>

 --}}